:root {
    --bg: #141414;
    --card: #222222;
    --text: #f1f5f9;
    --input: #353535;
    --border: #414141;

    --button: #414141;
    --button-hover: #585858;

    --accent: #22c55e;
}

body.light {
    --bg: #f8fafc;
    --card: #ffffff;
    --text: #0f172a;
    --input: #e2e8f0;
    --border: #cbd5f5;

    --button: #e2e8f0;
    --button-hover: #cbd5f5;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
    font-family:
        system-ui,
        -apple-system,
        sans-serif;
}

#root {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 16px;
}
